{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module",
    // Each workspace must have a tsconfig that works with eslint. Namely the
    // include/exlcude values.
    "project": true
  },
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    // no-unused-vars duplicates noUnusedParameters / noUnusedLocals which is set in tsconfig
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/consistent-type-exports": "error",
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "fixStyle": "separate-type-imports"
      }
    ]
  }
}
